.form-control {
  padding: 0.5rem;
  background-color: transparent;
  border-bottom: 1px var(--secondary) solid;
}

.form-control::placeholder {
  color: var(--secondary);
}

.button {
  display: inline-block;
  padding: 0.5rem 0.75rem;
}

.button:hover {
  filter: brightness(1.05);
}